body {
  background-image: url("https://images3.alphacoders.com/221/22135.jpg");
}
.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 60px;
}
.weather-app-wrapper {
  margin: 20px auto;
}
h1 {
  color: #fff0f5;
  font-size: 50px;
  text-align: center;
  font-family: "sofia";
}
h2 {
  color: #fff0f5;

  padding-top: 10px;
  margin-right: 90px;
  font-size: 30px;
  font-family: "monospace";
  text-align: center;
}
h3 {
  color: #fff0f5;
  font-size: 25px;
  font-family: "monospace";
  margin-left: 90px;
  margin-top: 20px;
}
ul {
  margin: 0 0 10px;
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
}

li {
  text-align: center;
  color: #fff0f5;
  font-size: 14px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  margin: auto;
  padding: 0%;
}
.weather-temperature img {
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 60px;
  height: 40px;
  width: 40px;
  padding: 0;
}
.weather-temperature strong {
  color: #3f1d38;
  font-size: 50px;
  font-weight: 20px;
}

.row {
  color: #3f1d38;
  font-size: 18px;
  font-weight: 900px;
  font-family: "Times New Roman", Times, serif;
}
