body {
  background-image: url("https://wallpaperbat.com/img/119889-pink-beach-wallpaper-top-free-pink-beach-background.jpg");
}
.form-container {
  display: flex;
  justify-content: center;
  min-height: 50px;
  align-content: center;
  padding-bottom: 20px;
}
.form {
  width: 40%;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding-right: 90px;
}
.weather-app-wrapper {
  margin: 10px auto;
}

h1 {
  color: #3f1d38;
  font-size: 50px;
  text-align: center;
  font-family: "sofia";
}
h2 {
  color: #7858a6;

  padding-top: 10px;
  margin-right: 90px;
  font-size: 30px;
  font-family: "monospace";
  text-align: center;
}
h3 {
  color: #7858a6;
  font-size: 25px;
  font-family: "monospace";
  margin-left: 90px;
  margin-top: 20px;
}
h3 ::first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0 0 10px;
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
}

li {
  text-align: center;
  color: #3f1d38;
  font-size: 14px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  margin: auto;
  padding: 0%;
}
.weather-temperature img {
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 60px;
  height: 40px;
  width: 40px;
  padding: 0;
}
.weather-temperature strong {
  color: #3f1d38;
  font-size: 40px;
  font-weight: 15px;
}

.row {
  color: #3f1d38;
  font-size: 18px;
  font-weight: 900px;
  font-family: "Times New Roman", Times, serif;
}
.weather-temperature .units {
  position: relative;
  top: -34px;
  font-size: 15px;
}
.weather-forecast-days {
  color: #3f1d38;
}
.forecast-description {
  color: #e5b8f4;
}
.active {
  text-decoration: none;
  color: #3f1d38;
  cursor: default;
}
a.active:hover {
  text-decoration: underline;
}
